html,body{
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar-container{
    width: 100%;
    position: fixed;
}
.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.w-full{
    width: 100%;
}
.w-hf{
    width: 50%;
}
.flex{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.nav-main{
    display: none;
}
.nav-main ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.nav-main li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav-main li a{
    font-size: .9rem;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}
.navbar-content a {
    
    padding: 10px 0;
}
.navbar-container li a:hover{
    background-color: rgb(7, 7, 7);
    color: #ffffff;
}
.banner-container{
    width: 100%;
    height: 30rem;
}
.description h1{
    font-weight: 900;
}
.description p{
    text-align: center;
}
.m-0{
    margin: 0;
    padding: 0;
}
.description{
    width: 100%;
    padding: 1.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content{
    padding: 7.6rem 1.4rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex: 0 1 auto;
}
.my-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-detail,.role-container{
    width: 100%;
}
/* .roles-content{
    padding: 0;
    display: flex;
    flex:  0 1;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* .role{
    border-radius: 15px;
    width: 100%;
    margin: 1rem;
    padding: 10px 0;
    min-width: 120px;
    box-shadow: 1px 1px 1px 1px black;
} */
.about-container,.skill-container, .contact-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex: 0 1 auto;
}
button#toggleThemeBtn{
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    padding: 10;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.darkBg{
    background-color: #000000;
    border-bottom: 1px solid #292929;
}
.lightBg{
    background-color: #ffffff;
    border-bottom: 1px solid #d3d3d3;
}
.skills-detail{
    width: 100%;
}
.illustration{
    background-image: url("../assets/img/logo.svg");
    background-position: center;
    background-size: 80% 90%;
    background-repeat: no-repeat;
    height: 170px;
    max-width: 170px;
    width: 100%;
    margin: 2.4rem;
    border-radius: 9999px;
    background-color: rgb(223, 247, 248);
}
section{
    width: 100%;
    padding: 4.5rem 0;
}
.container {
    width: 100%;
    /* padding: 0 1.3rem; */
}
.container > div {
    padding: 0 1.3rem;
}
.full-btn{
    width: 100%;
}
.btn{
    background-color: black;
    font-weight: 600;
    padding: 1.2rem;
    font-size: .81rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border-radius: 999px;
    border: none;
}
a.link{
    padding: 1.3rem 2.5rem;
    margin: 2rem 0;
    border-radius: 999px;
}
.submit-btn{
    width: 100%;
}
section#about h1, section#skills h1, section#portfolio h1, section#contact h1{
    font-weight: bolder;
    font-size: 2.4rem;
    text-align: center;
}
.skills-container,.projects-container{
    justify-content: center;
}
.skills-container,.projects-container, .roles-content{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding: 2.4rem 1rem;
    align-items: center;
}
.project{
    display: flex;
    flex: 0 1 auto;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-detail p{
    text-align: center;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #e7e7e7;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.project-img{
    padding: .9rem 2.9rem;
    margin: 1.7rem 0;
}
.skill{
    background-color: #ffffff;
    font-weight: bold;
    font-size: .87rem;
    padding: 1.4rem;
    margin: .98rem;
    text-align: center;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 1px 2px rgb(235, 232, 232); */
}
.role{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: .943rem 0;
}
.role h5{
    margin: 0;
    color: #444444;
}
.role h3, .role h4, .role h5{
    padding: .4rem 0;
}
.role img {
    width: 100%;
    height: 50px;
    border-radius: 999px;
}
.p-3{
    padding: 3.1rem;
}
.contact-detail ul{
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.contact-detail li a{
    margin: .5rem;
    padding: .8rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.m-3{
   margin: 2.4rem;
}
p{
    font-size: 1rem;
}
.contact-detail,.contact-form{
    width: 100%;
}
/* .contact-form,.skills-container{
    padding: 0 2rem;
} */
.contact-detail{
    padding-right: 4rem;
}
.skill h2{
    font-size: .98rem;
}
/* img.my-image{
    width: 100%;
    max-width: 400px;
    height: 400px;
} */
.project img{
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: .8rem 0;
    width: 100%;
}
.item-left{
    text-align: left !important;
}
label{
    font-weight: 600;
    display: none;
}
input[type=text],input[type=email],select, textarea{
    border-radius: 6px;
    border: 2px solid #c5c3c3;
    padding: .8rem .6rem;
    margin: .5rem 0;
    font-family: 'Poppins', sans-serif;
    resize: none;
    color: rgb(88, 88, 88);
}