html, body{
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
}
.navbar-container{
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.w-full{
    width: 100%;
}
.w-hf{
    width: 50%;
}
.flex{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.nav-main{
    display: none;
}
.nav-main ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.nav-main li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav-main li a{
    font-size: .9rem;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}
.navbar-content a {
    
    padding: 10px 0;
}
.navbar-container li a:hover{
    background-color: rgb(7, 7, 7);
    color: #ffffff;
}
.banner-container{
    width: 100%;
    height: 30rem;
}
.description h1{
    font-weight: 900;
}
.description p{
    text-align: center;
}
.m-0{
    margin: 0;
    padding: 0;
}
.description{
    width: 100%;
    padding: 1.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content{
    padding: 7.6rem 1.4rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex: 0 1 auto;
}
.my-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-detail,.role-container{
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    display: block;
}
.about-container,.skill-container, .contact-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex: 0 1 auto;
}
.bar1_transform{
    transform: translateY(10px) rotateZ(135deg);
}
.bar3_transform{
    transform: translateY(-5px) rotateZ(-135deg);
}
.open_sidenav{
    visibility: visible !important;
}
.skill img {
    max-width: 60px;
    width: 100%;
    height: auto;
}
.contact-detail svg{
    width: 20px;
    height: 20px;
}
.sidenav{
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    margin-top: 65px;
    padding: .943rem 0;
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
}
.sidenav a {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: .56rem;
    margin: .5rem 0;
    text-decoration: none;
    font-size: 1.4rem;
}
.bar2_transform{
    transform: scale(0);
}
button#toggleThemeBtn, .menu-btn{
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
button:focus{
    border: none;
    outline: none;
}
.darkBg{
    background-color: #000000;
    border-bottom: 1px solid #292929;
}
.lightBg{
    background-color: #ffffff;
    border-bottom: 1px solid #d3d3d3;
}
footer{
    border-top: 1px solid #d3d3d3;
}
.skills-detail{
    width: 100%;
}
.illustration{
    background-position: center;
    background-size: 80% 90%;
    background-repeat: no-repeat;
    height: 170px;
    max-width: 170px;
    width: 100%;
    margin: 2.4rem;
    border-radius: 9999px;
    background-color: rgb(223, 247, 248);
}
section h3{
    font-weight: 600;
    font-size: 1.03rem;
}
section{
    width: 100%;
    padding: 4.2rem 0;
    opacity: 0;
    transition: opacity .4s linear;
    z-index: 1;
}
section > div.container {
    padding: 2.3rem 0;
}
.container {
    width: 100%;
    /* padding: 0 1.3rem; */
}
.container > div {
    padding: 0 1.7rem;
}
.full-btn{
    width: 100%;
}
.btn{
    background-color: black;
    font-weight: 600;
    padding: 1.2rem;
    font-size: .81rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border-radius: 999px;
    border: none;
}
a.link{
    padding: 1.3rem 2.5rem;
    margin: 2rem 0;
    border-radius: 999px;
}
.submit-btn{
    width: 100%;
}
section#about h1, section#skills h1, section#portfolio h1, section#contact h1{
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
}
.skills-container,.projects-container{
    justify-content: center;
}
.skills-container,.projects-container, .roles-content{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding: .8rem .5rem;
    align-items: center;
}
form .error {
    color: #ff0000;
    font-weight: 500;
    font-size: .98rem;
}
.project{
    display: flex;
    flex: 0 1 auto;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-detail p{
    text-align: center;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #e7e7e7;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.project-img{
    padding: .86rem .5rem;
    margin: 1.7rem 0;
}
.skill{
    background-color: #ffffff;
    font-weight: bold;
    font-size: .87rem;
    padding: 1.02rem;
    margin: .98rem;
    text-align: center;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 1px 2px rgb(235, 232, 232); */
}
.role{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: .943rem 0;
}
.role h3{
    font-weight: 800;
}
.role h4, .role h5{
    padding: .3rem 0;
    font-weight: 500;
}
.role img {
    width: 110%;
    max-width: 200px;
    height: 50px;
    border-radius: 999px;
}
.p-3{
    padding: 3.1rem;
}
.contact-detail ul{
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.contact-detail li a{
    margin: .5rem 0;
    padding: .8rem;
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
}
.contact-detail span {
    font-size: .98rem;
    font-weight: 700;
    color: black;
    margin-left: .8rem;
}
.m-3{
   margin: 2.4rem;
}
p{
    font-size: 1rem;
}
.group-btn{
    display: flex;
    flex-direction: row;
    width: 100px;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}
.contact-detail,.contact-form{
    width: 100%;
}
button, button:focus{
    border: none;
}
.menu-btn .bar {
  background: #000000;
  content: "";
  display: block;
  height: 3px;
  border-radius: 2px;
  margin: 4px 0;
  transition: 0.5s;
  width: 20px;
}
/* .contact-form,.skills-container{
    padding: 0 2rem;
} */
.contact-detail{
    padding-right: 4rem;
}
.skill h2{
    font-size: .98rem;
}
.project-detail h2{
    font-size: 1.3rem;
}
.project img{
    width: 100%;
    max-width: 700px;
    border-radius: 2px;
}
.form-group{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 1.2rem 0;
    width: 100%;
}
.item-left{
    text-align: left !important;
}
label{
    font-weight:600;
    /* display: none; */
}
input[type=text],input[type=email],select, textarea{
    border-radius: 6px;
    border: 2px solid #c5c3c3;
    padding: .8rem .6rem;
    margin: .5rem 0;
    font-family: 'Poppins', sans-serif;
    resize: none;
    color: rgb(88, 88, 88);
}
.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.877);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-body {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-content{
    text-align: center;
}
.modal-content svg{
    height: 40px;
    width: 40px;
}
.close {
    float: right;
    border: none;
    font-weight: bold;
    font-size: 1.9rem;
    background-color: #ffffff;
    border-radius: 9px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}